.tips {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
}

.tips img {
    width: 64px;
}

.hashwash, .healthcare, .house, .shakehands {
    justify-self: center;
    margin: 30px 0px 0px 0px;
    padding: 20px 60px;
    border: 1px solid rgba(0, 0, 0, 0.055);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.411);
    border-radius: 8px;
}